@import "./_variables.scss";

.booking {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 10vw 0;
    min-height: 100vh;

    @include small-desktop-up {
        margin: 12vw 0;
    }

    @include large-desktop-up {
        margin: 6vw 0;
    }

    &__heading-wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    &__heading {
        font-family: $font-family-raleway;
        font-size: 3rem;
        margin: 0;

        @include small-desktop-up {
            font-size: 2rem;
        }

        @include large-desktop-up {
            font-size: 2.6rem;
        }
    }

    &__desc {
        font-size: 1rem;
        color: $color-grey-light;

        @include small-desktop-up {
            font-size: 0.9rem;
        }
    }

    &__steps-wrapper {
        width: 100vw;
        position: relative;
    }

    &__lines {
        position: absolute;
        width: 90vw;
        height: 55vw;
        top: 0vw;
        left: -1vw;
        transform: translate(-1vw, -3.2vw);
        z-index: -1;

        @include small-desktop-up {
            width: 95vw;
            transform: translate(-1vw, 1.2vw);
        }

        @include large-desktop-up {
            transform: translate(-1vw, -6.8vw);
        }
    }
}

.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 0.6rem;
    margin-top: 20vh;
    background-color: $color-white;
    box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.08);
    min-width: 35vw;

    @include small-desktop-up {
        margin-top: 18vw;
        min-width: 40vw;
    }

    @include large-desktop-up {
        margin-top: 8vw;
        min-width: 26vw;
    }

    &>:last-child {
        margin-top: 1rem;
    }

    &__service {
        background-color: transparent;
        box-shadow: none;
    }

    &__input-wrapper {
        display: flex;
        flex-flow: row nowrap;
        width: calc(100% - 4rem);
        background-color: hsla(332, 77%, 85%, 0.12);
        border-radius: 0.6rem;
        padding: 1rem 2rem;
        border: 2px solid transparent;

        &:focus-within {
            border: 2px solid $color-purple;
            box-shadow: 0px 0px 8px rgba(175, 120, 206, 0.6);
        }
    }

    &__field {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 0.6rem 0;

        &--label {
            font-size: 0.9rem;
            padding: 0.6rem 0;
        }

        &--icon {
            width: 2rem;
            height: auto;
        }

        &--input {
            width: 100%;
            color: $color-grey-light;
            padding: 0 1rem;
        }
    }

    &__date-picker {
        width: 100%;
        color: $color-grey-light;
        padding: 0 1rem;

    }

    &__button-wrapper {
        min-width: 30vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }

    &__button {
        min-width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-purple;
        border-radius: 36px;
        min-height: 3.6rem;
        text-decoration: none;
        color: hsla(324, 100%, 99%, 0.8);
        transition: min-width .6s;

        @include small-desktop-up {
            min-width: 35%;
            min-height: 1rem;
        }

        @include large-desktop-up {
            min-height: 3.2rem;
            padding: 0 2rem;
        }

        &--ghost {
            color: inherit;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;

            &:hover {
                font-weight: 600;
                color: $color-purple;
            }
        }

        &:focus {
            min-width: 45%;
            box-shadow: 0px 2px 36px rgba(175, 120, 206, 0.35),
                0px 6px 24px rgba(175, 120, 206, 0.45);
            color: $color-white;
            cursor: pointer;

            @include small-desktop-up {
                min-height: 2rem;
                padding: 0 2rem;
            }
        }

        &:hover {
            min-width: 45%;
            box-shadow: 0px 2px 36px rgba(175, 120, 206, 0.35),
                0px 6px 24px rgba(175, 120, 206, 0.45);
            color: $color-white;
            cursor: pointer;

            @include small-desktop-up {
                min-height: 2rem;
                padding: 0 2rem;
            }
        }

        & img {
            width: 0.1rem;
        }

        &:hover img {
            transition: width 0.8s, transform 0.8s;
            width: 1.6rem;
            opacity: 1;
            transform: rotateY(360deg);
        }

        & p {
            color: inherit;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 0.4rem 0;
            margin-right: 1rem;
            transition: color 0.4s ease-in-out;
            margin-left: 10px;
        }
    }

    &__policy {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    &__tick-box {
        width: 1.4rem;
        height: 1.4rem;
        background-color: $color-pink-light;
        border-radius: 0.2rem;
        position: relative;

        &--field {
            width: 1.4rem;
            height: 1.4rem;
            cursor: pointer;
        }

        & img {
            width: 1.6rem;
            height: 1.6rem;
            position: absolute;
            top: -15%;
            left: 5%;
            cursor: pointer;
        }
    }

    &__policy-text {
        margin-left: 0.5rem;
        font-size: 0.7rem;
        color: $color-grey-light;

        & a {
            color: $color-purple;
        }
    }
}