@import "../styles/variables";

.footer {
    width: calc(100% - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background: hsla(332deg, 77%, 85%, 0.2);
    padding: 1rem;

    @include small-mobile-up {
        flex-flow: column nowrap;
        margin-top: 16vh;
    }

    @include tablet-up {
        margin-top: 8vh;
    }

    &__img {
        width: 7em;
        height: 7rem;

        @include small-desktop-up {
            width: 6em;
            height: 6rem;
        }
    }

    &__copyrights {
        font-size: 0.8rem;

        @include small-mobile-up {
            text-align: center;
            font-size: 0.7rem;
            margin: 0;
        }

        @include medium-mobile {
            font-size: 0.8rem;
        }
    }
}