@import "../../src/styles/_variables.scss";

.gallery {
  margin: 1rem;
  background-color: $color-pink-light;
  border-radius: 0.6rem;
  padding: 1rem 0 4rem 0;

  @include small-desktop-up {
    margin: 0rem 1rem 0rem 1rem;
  }

  @include large-desktop-up {}

  &__heading {
    font-family: $font-family-raleway;
    font-weight: 600;
    font-size: 2.2rem;
    margin: 2rem 8rem 0 8rem;

    @include small-mobile-up {
      margin: 1rem 1rem;
      font-size: 1.6rem;
      text-align: left;
    }

    @include medium-mobile {
      font-size: 2rem;
    }

    @include large-mobile {
      margin: 1rem 2rem;
      font-size: 2rem;
    }

    @include tablet-up {
      font-size: 2.4rem;
      margin: 1.6rem 2rem;
    }

    @include small-desktop-up {
      margin: 2rem 4rem 0 4rem;
      font-size: 2rem;
    }

    @include large-desktop-up {
      font-size: 2.6rem;
      margin: 4rem 20rem 2rem 20rem;
    }
  }

  &__slider {
    margin: 1rem auto;
    width: 80%;
    height: fit-content;
    --slider-height-percentage: 75%;
    --slider-transition-duration: 800ms;
    --organic-arrow-thickness: 6px;
    --organic-arrow-border-radius: 16px;
    --organic-arrow-height: 32px;
    --organic-arrow-color: #713b91;
    --control-button-width: 20%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: hsla(278, 42%, 40%, 0.4);
    --control-bullet-active-color: #713b91;
    --loader-bar-color: transparent;
    --loader-bar-height: 1px;
    --content-background-color: none;

    @include small-mobile-up {
      --slider-height-percentage: 300%;
    }

    @include medium-mobile {
      --slider-height-percentage: 250%;
    }

    @include large-mobile {
      --slider-height-percentage: 130%;
      --control-button-width: 15%;
    }

    @include tablet-up {
      --slider-height-percentage: 150%;
    }

    @include small-desktop-up {
      margin: 2rem auto;
      --control-button-width: 24%;
      --slider-height-percentage: 105%;
      --organic-arrow-thickness: 5px;
      --organic-arrow-height: 28px;
    }

    @include large-desktop-up {
      --slider-height-percentage: 55%;
      --control-button-width: 60%;
    }
  }

  &__post {}

  &__frame {
    width: 200px;
  }
}