@import "./_variables.scss";

.hero {
  display: flex;
  min-height: 85vh;
  margin: 6rem 1rem 1rem 1rem;
  background-color: $color-pink-light;
  border-radius: 0.6rem;
  position: relative;

  @include small-mobile-up {
    margin: 4.6rem 0.6rem;
  }

  @include small-desktop-up {
    margin: 5.6rem 1rem -1rem 1rem;
  }

  @include large-desktop-up {
    margin: 7rem 8rem 0 8rem;
  }
}

.hero-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: 8rem;
  margin-top: -2rem;
  max-width: 40rem;
  z-index: 1;

  @include small-mobile-up {
    margin: 1rem;
  }

  @include small-desktop-up {
    margin-left: 4rem;
    max-width: 26rem;
  }

  @include large-desktop-up {
    margin-top: -3rem;
    margin-left: 13rem;
  }

  &__location {
    display: flex;
    align-items: center;
    background-color: rgba(80, 78, 81, 0.05);
    border-radius: 0.6rem;
    width: fit-content;
    padding: 0.1rem 1rem;
    margin: 1rem 0;

    & img {
      width: 1.4rem;
      height: 1.4rem;
      margin-right: 0.5rem;
    }

    & p {
      color: hsla(280, 2%, 31%, 0.65);
      font-size: 0.9rem;

      @include small-desktop-up {
        font-size: 0.8rem;
      }

      & span {
        letter-spacing: 3px;
        font-weight: 600;
        text-transform: uppercase;
        color: $color-purple-light;
      }
    }
  }

  &__heading {
    max-width: 34rem;
    font-family: $font-family-raleway;
    font-weight: 600;
    color: $color-grey;
    font-size: 3.2rem;
    line-height: 116%;
    margin: 0;

    @include small-mobile-up {
      font-size: 2rem;
      min-width: 10rem;
    }

    @include small-desktop-up {
      font-size: 3rem;
      min-width: 26rem;
    }

    @include large-desktop-up {
      font-size: 3.6rem;
    }
  }

  &__description {
    line-height: 1.8rem;
    color: hsla(280, 2%, 31%, 0.65);
    max-width: 40vw;

    @include small-mobile-up {
      line-height: 1.4rem;
      max-width: 60vw;
    }

    @include small-desktop-up {
      line-height: 1.5rem;
    }

    @include large-desktop-up {
      line-height: 2rem;
    }
  }

  &__call-to-action {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-purple;
    border-radius: 0.6rem;
    min-height: 3.6rem;
    padding: 0.2rem 2rem;
    margin-top: 1rem;
    text-decoration: none;
    color: hsla(324, 100%, 99%, 0.8);
    transition: all 0.4s;

    @include small-desktop-up {
      width: 35%;
      min-height: 1rem;
      padding: 0 2rem;
    }

    @include large-desktop-up {
      margin-top: 2.4rem;
      min-height: 3.2rem;
      padding: 0 2rem;
    }

    &:hover {
      width: 40%;
      box-shadow: 0px 2px 36px rgba(175, 120, 206, 0.35),
        0px 6px 24px rgba(175, 120, 206, 0.45);
      color: $color-white;
      cursor: pointer;

      @include small-desktop-up {
        width: 45%;
        min-height: 2rem;
        padding: 0 2rem;
      }
    }

    & img {
      width: 0.1rem;
    }

    &:hover img {
      transition: all 0.8s;
      width: 1.6rem;
      opacity: 1;
      transform: rotateY(360deg);
    }

    & p {
      color: inherit;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 0.4rem 0;
      margin-right: 1rem;
      transition: color 0.4s ease-in-out;
      margin-left: 10px;
    }
  }
}

.hero-image {
  position: relative;

  @include small-mobile-up {
    display: none;
  }

  &__lines {
    width: 160vw;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -34%);

    @include small-desktop-up {
      width: 170vw;
      top: 55%;
      transform: translate(-50%, -38%);
    }

    @media screen and (min-width: 1366px) and (max-width: 1439px) {
      width: 150vw;
      top: 50%;
      transform: translate(-43%, -35%);
    }

    @include large-desktop-up {
      width: 125vw;
      top: 55%;
      transform: translate(-48%, -39%);
    }
  }
}