// Normalize pre-default CSS values
@import "normalize-scss/sass/normalize/import-now";

// Import required fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Raleway:wght@600&display=swap');

// Additional imports
@import "_variables.scss";


// Remove default styles
input, button, textarea, select {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $color-white;
  font-size: 16px;
  color: $color-grey;
  font-family: $font-family-poppins;
  scroll-behavior: smooth;
  overflow-x: hidden;
  @include small-desktop-up {
    font-size: 14px;
  }
}