@import "./variables.scss";

.reviews {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    &__heading {
        font-family: $font-family-raleway;
        font-weight: 600;
        font-size: 3rem;
        line-height: 116%;
        margin: 10rem 0 0 9rem;
        @include small-desktop-up {
            margin: 8rem 4rem 0 4rem;
            font-size: 2.4rem;
        }
        @include large-desktop-up {
            font-size: 3.2rem;
            margin: 8rem 21rem -3rem 21rem;
        }
    }
    &__image-wrapper {
        position: absolute;
        top: 28vh;
        left: 0;
        width: 100vw;
        z-index: -1;
        & img {
            width: 100%;
            position: absolute;
        }   
    }
}

.review-card {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 100%;
    max-width: 28rem;
    padding: 1.8rem;
    background-color: #FFFFFF;
    border-radius: 0.8rem;
    box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.08);
    @include small-desktop-up {
        max-width: 24rem;
        padding: 1.6rem;
    }
    @include large-desktop-up {
        max-width: 34rem;
        padding: 2rem;
    }
    &__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 50%;
        background-color: $color-purple-light;
        box-shadow: 0px 10px 48px rgba(0, 0, 0, 0.35);
        & img {
            margin-top: -0.1rem;
            width: 3rem;
            height: 3rem;
        }
    }
    &__name {
        font-family: $font-family-raleway;
        font-size: 1.15rem;
        font-weight: 600;
        color: $color-purple;
        margin-left: 1rem;
        @include large-desktop-up {
            font-size: 1.4rem;
            margin-left: 1.6rem;
        }
    }
    &__comment {
        color: $color-grey-light;
        font-weight: 300;
        font-size: 0.9rem;
        line-height: 1.2rem;
        margin: 1rem 0;
        @include large-desktop-up {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
    &__stars {

        &--disabled {
            opacity: 0.4;
        }
        & img {
            width: 1.3rem;
            height: 1.3rem;
            @include large-desktop-up {
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }
}


.awesome-slider {
    width: 100vw;
    margin: 0 auto;
    --slider-height-percentage: calc(40vh + 10%);
    --slider-transition-duration: 800ms;
    --organic-arrow-thickness: 6px;
    --organic-arrow-border-radius: 16px;
    --organic-arrow-height: 32px;
    --organic-arrow-color: #713b91;
    --control-button-width: 40%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: hsla(278, 42%, 40%, 0.4);
    --control-bullet-active-color: #713b91;
    --loader-bar-color: transparent;
    --loader-bar-height: 1px;
    --content-background-color: none;
    @include small-desktop-up {
        margin: 1rem auto;
        --control-button-width: 20%;
        --slider-height-percentage: calc(50vh + 10%);
    }
    @include large-desktop-up {
        margin: 4rem auto;
        --slider-height-percentage: calc(30vh + 15%);
        --control-button-width: 30%;
    }
}